element.style {
}
:root{
  --main-color: #000000;
  --secondary-color: #EEE;
}

html[Attributes Style] {
    -webkit-locale: "it-IT";
}

html {
    background-color:#ffffff;
}
element.style {
}


element.style {
}


element.style {
}
html, body {
    padding: 0;
    box-sizing: border-box;
}


element.style {
}


main {
    display: block;
}

element.style {
}
article {
    margin: 10px;
    padding: 0;
}
article[Attributes Style] {
    text-align: left;
}


element.style {
}
article .profile-pic {
    width: 250px;
    height: auto;
    margin: 50px;
}

div.header {
    padding: 10px;
    background-color: green;
    width: 1000px;
    height: 250px;
  }


element.style {
}
div.article {
    width: 500px;
}


div {
    position:relative;
}

div.article {
    background-color:#ffffff;
    max-width: 500px;
    margin: auto;
    padding: 15px;
    border-radius: 20px;
}

element.style {
}
div.article .article-title {
    font-size: 55px;
    font-family: 'Verdana';
    margin: 3px;
    color: green;

}


element.style {
}
div.article .content {
    text-align: center;
}


element.style {
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
div.article .content {
    font-family: 'Verdana';
    font-size: 20px;
    margin: 0;
}
ul{
  list-style-position: inside;
}


element.style {
}
div#contact {
    position: relative;
    width: 500px;
    margin: auto;
}

element.style {
}
#social {
    padding: 0;
    margin: 0;

}
 a.resized {
  display:inline-block;
  width: 80px;
  height: 80px;
  margin: 150px;

}

element.style {
}
a {
    text-decoration: none;
    color: inherit;
}


header {
    position: sticky;
    top: 0;
}
